#projectCard-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
		rgba(255, 255, 255, 0.12) 0px -12px 30px,
		rgba(255, 255, 255, 0.12) 0px 4px 6px,
		rgba(255, 255, 255, 0.17) 0px 12px 13px,
		rgba(255, 255, 255, 0.09) 0px -3px 5px;
	border-radius: 20px;
	color: white;
	width: 300px;
	height: auto;
	padding: 20px;
}
#projectImage {
	width: 300px;
	height: auto;
}
#projectTitle {
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 1.2em;
}
#projectDescription {
	text-align: left;
}
#link-container {
	display: flex;
	flex-direction: row;
}
#linkText {
	text-align: left;
}
