#article-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 100px;
}

#info {
	color: white;
	font-size: 25px;
	width: 50%;
	text-align: left;
}

@media only screen and (max-width: 600px) {
	#article-container {
		display: flex;
		flex-direction: column;
		padding-top: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

	#info {
		width: auto;
		font-size: 20px;
		order: 1;
		padding-bottom: 15px;
	}

	#aboutImage {
		height: 250px;
		width: 250px;
		align-self: center;
		order: 0;
		padding-top: 0;
	}
}
