nav {
	background-color: #0055b7;
	width: auto;
	margin-top: 0px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* position: relative; */
	/* box-shadow: 0 8px 6px -6px white; */
}
nav ul {
	display: flex;
	list-style-type: none;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 1.5px;
	align-items: center;
	justify-content: center;
}
nav li {
	margin: 10px;
}
nav a,
.footerLink {
	text-decoration: none;
	color: white;
}
.right {
	margin-left: auto;
}
.active::before {
	content: "<";
}
.active::after {
	content: "/>";
}
.home {
	font-size: 30px;
	order: 3;
}
.mobileNav {
	display: none;
}
@media only screen and (max-width: 600px) {
	.mobileNav {
		display: contents;
	}

	.footerLink {
		font-size: 18px;
	}
	.navMenu ul {
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		background-color: #0055b7;
		display: none;
	}
	.navMenu li {
		text-align: center;
		margin: 20px;
		border-top: 5px white;
	}

	.navMenu.expanded ul {
		display: block;
	}
	.home {
		display: none;
	}
	button.hamburger {
		background-color: #0055b7;
		border: 0;
	}
	nav {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	ul {
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
	}
	.homeMobile {
		margin-left: 10px;
	}
}
