.inputField {
	height: 50px;
	width: 100%;
	outline: none;
	border-radius: 20px;
	font-size: 20px;
	box-sizing: border-box;
}
.inputField:focus {
	border: 8px solid #89e9f0;
}
label {
	color: white;
	font-size: 20px;
	padding: 10px;
}
