.homePage-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 200px;
	margin-left: 50px;
	margin-right: 50px;
}

.article {
	font-size: 50px;
	color: white;
	text-align: left;
	margin-bottom: 20px;
}

a {
	margin: 10px;
}

.logoContainer {
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
	.homePage-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 15px;
		margin-left: 50px;
		margin-right: 50px;
	}

	#homeImage {
		padding-top: 20px;
	}

	.article {
		font-size: 30px;
	}
}
