.homePage-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 200px;
	max-width: 55%;
	margin-left: auto;
	margin-right: auto;
}
.homeParagraph {
	margin: 0;
}
.article {
	font-size: 50px;
	color: white;
	text-align: left;
	margin-bottom: 20px;
}
a {
	margin: 10px;
}
.logoContainer {
	margin-bottom: 20px;
}
#homeImage {
	width: 40%;
}

@media only screen and (max-width: 600px) {
	.homePage-container {
		flex-direction: column;
		padding-top: 15px;
		max-width: 90%;
	}
	.article {
		font-size: 30px;
		margin-bottom: 0;
	}
	.articleContainer {
		display: flex;
		flex-direction: column;
	}
	.logoContainer {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-bottom: 0;
	}
	#homeContactButton {
		margin-top: 0;
	}
	#homeImage {
		width: 80%;
		align-self: center;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	.homePage-container {
		flex-direction: column;
		padding-top: 100px;
		max-width: 90%;
	}
	.article {
		font-size: 40px;
		margin-bottom: 0;
	}
	.articleContainer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.logoContainer {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-bottom: 0;
	}
	#homeContactButton {
		margin-top: 0;
	}
	#homeImage {
		width: 80%;
		height: auto;
		align-self: center;
	}
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.homePage-container {
		padding-top: 100px;
		max-width: 90%;
		/* margin-left: auto;
		margin-right: auto; */
		text-align: center;
	}
	#homeImage {
		width: 40%;
		height: auto;
	}
}
