.layout {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
@media only screen and (max-width: 600px) {
	.layout {
		margin-left: 0px;
		margin-right: 0px;
		height: 100%;
	}
}
